absl-py==2.3.1
accelerate==1.6.0
aiohappyeyeballs==2.6.1
aiohttp==3.12.15
aiosignal==1.4.0
alabaster==1.0.0
alembic==1.16.5
ansicolors==1.1.8
antlr4-python3-runtime==4.9.3
anyio==4.10.0
argon2-cffi==25.1.0
argon2-cffi-bindings==25.1.0
arrow==1.3.0
asteroid-filterbanks==0.4.0
asttokens==3.0.0
async-lru==2.0.5
async-timeout==5.0.1
attrs==25.3.0
audioread==3.0.1
babel==2.17.0
beautifulsoup4==4.13.5
black==25.1.0
bleach==6.2.0
brotlicffi @ file:///croot/brotlicffi_1736182461069/work
certifi @ file:///croot/certifi_1754570635119/work/certifi
cffi @ file:///croot/cffi_1736182485317/work
cfgv==3.4.0
charset-normalizer @ file:///croot/charset-normalizer_1721748349566/work
click==8.2.1
coloredlogs==15.0.1
colorlog==6.9.0
comm==0.2.3
commonmark==0.9.1
contourpy==1.3.2
coverage==7.10.6
cycler==0.12.1
debugpy==1.8.16
decorator==5.2.1
defusedxml==0.7.1
-e git+https://github.com/BUTSpeechFIT/DiariZen.git@c2ded1cf625d9bda417561a88c7201e8ae8215cb#egg=diarizen
distlib==0.4.0
docopt==0.6.2
docutils==0.21.2
einops==0.8.1
entrypoints==0.4
et_xmlfile==2.0.0
exceptiongroup==1.3.0
executing==2.2.1
fastjsonschema==2.21.2
filelock @ file:///croot/filelock_1744281381737/work
flatbuffers==25.2.10
flit==3.12.0
flit_core==3.12.0
fonttools==4.59.2
fqdn==1.5.1
frozenlist==1.7.0
fsspec==2025.7.0
gmpy2 @ file:///croot/gmpy2_1738085463648/work
greenlet==3.2.4
grpcio==1.74.0
h11==0.16.0
h5py==3.14.0
hf-xet==1.1.9
httpcore==1.0.9
httpx==0.28.1
huggingface-hub==0.34.4
humanfriendly==10.0
HyperPyYAML==1.2.2
identify==2.6.13
idna @ file:///croot/idna_1714398848350/work
imagesize==1.4.1
iniconfig==2.1.0
ipykernel==6.30.1
ipython==8.37.0
ipywidgets==8.1.7
isoduration==20.11.0
jedi==0.19.2
Jinja2 @ file:///croot/jinja2_1741710844255/work
joblib==1.5.2
json5==0.12.1
jsonpointer==3.0.0
jsonschema==4.25.1
jsonschema-specifications==2025.4.1
julius==0.2.7
jupyter==1.1.1
jupyter-console==6.6.3
jupyter-events==0.12.0
jupyter-lsp==2.3.0
jupyter_client==8.6.3
jupyter_core==5.8.1
jupyter_server==2.17.0
jupyter_server_terminals==0.5.3
jupyterlab==4.4.6
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.3
jupyterlab_widgets==3.0.15
kiwisolver==1.4.9
lark==1.2.2
lazy_loader==0.4
librosa==0.11.0
lightning==2.5.4
lightning-utilities==0.15.2
llvmlite==0.44.0
Mako==1.3.10
Markdown==3.8.2
markdown-it-py==4.0.0
MarkupSafe @ file:///croot/markupsafe_1738584038848/work
matplotlib==3.10.6
matplotlib-inline==0.1.7
mdurl==0.1.2
mistune==3.1.4
mkl-service==2.4.0
mkl_fft @ file:///io/mkl313/mkl_fft_1730824109137/work
mkl_random @ file:///io/mkl313/mkl_random_1730823916628/work
mpmath @ file:///croot/mpmath_1690848262763/work
msgpack==1.1.1
multidict==6.6.4
mypy_extensions==1.1.0
nbclient==0.10.2
nbconvert==7.16.6
nbformat==5.10.4
nest-asyncio==1.6.0
networkx @ file:///croot/networkx_1737039604450/work
nodeenv==1.9.1
notebook==7.4.5
notebook_shim==0.2.4
numba==0.61.2
numpy==1.26.4
omegaconf==2.3.0
onnxruntime-gpu==1.22.0
openpyxl==3.1.5
optuna==4.5.0
overrides==7.7.0
packaging==25.0
pandas==2.3.2
pandocfilters==1.5.1
papermill==2.6.0
parso==0.8.5
pathspec==0.12.1
pesq==0.0.4
pexpect==4.9.0
pillow @ file:///croot/pillow_1752524526621/work
platformdirs==4.4.0
pluggy==1.6.0
pooch==1.8.2
pre_commit==4.3.0
primePy==1.3
prometheus_client==0.22.1
prompt_toolkit==3.0.52
propcache==0.3.2
protobuf==6.32.0
psutil==7.0.0
ptyprocess==0.7.0
pure_eval==0.2.3
-e git+https://github.com/BUTSpeechFIT/DiariZen.git@c2ded1cf625d9bda417561a88c7201e8ae8215cb#egg=pyannote.audio&subdirectory=pyannote-audio
pyannote.core==5.0.0
pyannote.database==5.1.3
pyannote.metrics==3.2.1
pyannote.pipeline==3.0.1
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
Pygments==2.19.2
pyparsing==3.2.3
PySocks @ file:///home/builder/ci_310/pysocks_1640793678128/work
pystoi==0.4.1
pytest==8.4.1
pytest-cov==6.2.1
python-dateutil==2.9.0.post0
python-json-logger==3.3.0
pytorch-lightning==2.5.4
pytorch-metric-learning==2.9.0
pytz==2025.2
PyYAML @ file:///croot/pyyaml_1728657952215/work
pyzmq==27.0.2
recommonmark==0.7.1
referencing==0.36.2
requests @ file:///croot/requests_1756709366904/work
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rfc3987-syntax==1.1.0
rich==14.1.0
rpds-py==0.27.1
ruamel.yaml==0.18.15
ruamel.yaml.clib==0.2.12
safetensors==0.6.2
scikit-learn==1.7.1
scipy==1.15.3
semver==3.0.4
Send2Trash==1.8.3
sentencepiece==0.2.1
shellingham==1.5.4
six==1.17.0
sniffio==1.3.1
snowballstemmer==3.0.1
sortedcontainers==2.4.0
soundfile==0.13.1
soupsieve==2.8
soxr==0.5.0.post1
speechbrain==1.0.3
Sphinx==8.1.3
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
SQLAlchemy==2.0.43
stack-data==0.6.3
sympy @ file:///croot/sympy_1756713465822/work
tabulate==0.9.0
tenacity==9.1.2
tensorboard==2.20.0
tensorboard-data-server==0.7.2
tensorboardX==2.6.4
terminado==0.18.1
thop==0.1.1.post2209072238
threadpoolctl==3.6.0
tinycss2==1.4.0
toml==0.10.2
tomli==2.2.1
tomli_w==1.2.0
torch==2.1.1
torch-audiomentations==0.12.0
torch_pitch_shift==1.2.5
torchaudio==2.1.1
torchinfo==1.8.0
torchmetrics==1.8.1
torchvision==0.16.1
tornado==6.5.2
tqdm==4.67.1
traitlets==5.14.3
triton==2.1.0
typer==0.17.3
types-python-dateutil==2.9.0.20250822
typing_extensions @ file:///croot/typing_extensions_1756280817316/work
tzdata==2025.2
uri-template==1.3.0
urllib3 @ file:///croot/urllib3_1750775463400/work
virtualenv==20.34.0
wcwidth==0.2.13
webcolors==24.11.1
webencodings==0.5.1
websocket-client==1.8.0
Werkzeug==3.1.3
widgetsnbextension==4.0.14
yarl==1.20.1
